<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'books/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="header">
          {% block header %}{% endblock %}
          <h3 class="text-muted">{% block headline %}{% endblock %}</h3>
        </div>
      </div><!-- end of row -->
      <hr />
      <br />
      <div class="row">
      {% block content %}{% endblock %}     
      </div>
      <br />
      <div class="row">
        <div class="footer">
          <p>版权所有&copy; 2014北京市海淀区－甲骨文系统平台部 <span>联系我们: </span><span><a href="mailto:nick_chiu@163.com">Email</a></span></p>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
