{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block headline %}甲骨文图书管理系统--<small>用户登录</small>{% endblock %}


{% block content %}
  <form action="" method="post">
  {% csrf_token %}
    <label for="username">用户名:</label>
    <input type="text" name="username" value="" id="username" />
    <label for="password">密码:</label>
    <input type="password" name="password" value="" id="password" />

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{% url 'books:index' %}" />
  </form>
{% endblock %}
