{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block headline %}甲骨文图书管理系统--<small>用户注册</small>{% endblock %}

{% block header %}
<ul class="nav nav-pills pull-right">
  <li><a href="{% url 'books:index' %}"><small>首页</small></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
  <form class="form-horizontal" role="form" action="" method="post">
  {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="email" name="email" class="form-control" id="email" placeholder="请输入您的邮箱">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="password" name="password1" class="form-control" id="password1" placeholder="请输入您的密码">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="password" name="password2" class="form-control" id="password2" placeholder="请再次输入您的密码">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="text" name="telephone" class="form-control" id="telephone" placeholder="请输入您的电话号码">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="text" name="adminname" class="form-control" id="adminname" placeholder="请输入组内管理员名字">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <input type="text" name="adminmail" class="form-control" id="adminmail" placeholder="请输入组内管理员邮箱">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">注册</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-offset-2 col-sm-10">
            <p>
              <span><small>已有帐号，</small></span>
              <span><a href="{% url 'login' %}"><small>直接登录</small></a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
